{% extends "linkme/base.html" %}
{% block title %}Connection Finder{% endblock %}
{% block content %}
  <h2>Find Connection Between Two Items</h2>
  {% if error %}
    <p class="red-text">{{ error }}</p>
  {% endif %}
  <form method="post" action="{% url 'connect' %}">
    {% csrf_token %}
    <div class="input-field">
      <input id="first" name="first" type="text" required>
      <label for="first">First Actor/Movie</label>
    </div>
    <div class="input-field">
      <input id="second" name="second" type="text" required>
      <label for="second">Second Actor/Movie</label>
    </div>
    <p>
      <label>
        <input name="is_actor" type="radio" value="true" checked>
        <span>Actor</span>
      </label>
      <label>
        <input name="is_actor" type="radio" value="false">
        <span>Movie</span>
      </label>
    </p>
    <button type="submit" class="btn waves-effect waves-light">Find Connection</button>
  </form>
  
  {% if true_path %}
    <h3 class="center-align">Connection:</h3>
    <div class="row">
      {% for node in true_path %}
        <div class="col s12 m6">
          <div class="card-panel hoverable teal lighten-4">
            <span class="flow-text">
              {% if node.type == "actor" %}
                <i class="material-icons left">person</i>
              {% elif node.type == "movie" %}
                <i class="material-icons left">movie</i>
              {% endif %}
              {{ node.obj }}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
